<ng-container *ngIf="initialized; else NotInitialized">
    <div class="row">
        <div class="col-11">
            <h1 jhiTranslate="task.title.edit"></h1>
        </div>
        <div class="col-1 text-right">
            <ag-button-delete (onClick)="confirmDelete()"></ag-button-delete>
        </div>
    </div>

    <hr>

    <form (ngSubmit)="onSubmit()" *ngIf="form" [formGroup]="form.form">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="name"><span jhiTranslate="global.form.field.name"></span></label>
                    <input [formControl]="form.nameFormControl" class="form-control" id="name" type="text">
                </div>

                <div class="form-group">
                    <label for="estimatedTime"><span jhiTranslate="task.form.field.estimatedTime"></span></label>
                    <input [formControl]="form.estimatedTimeFormControl" class="form-control" id="estimatedTime" min="0" type="number"/>
                </div>

                <div class="form-group">
                    <label for="loggedTime"><span jhiTranslate="task.form.field.loggedTime"></span></label>
                    <input [formControl]="form.loggedTimeFormControl" class="form-control" id="loggedTime" min="0" type="number"/>
                </div>

                <ag-task-status-select [control]="form.statusFormControl"></ag-task-status-select>
                <ag-user-select [control]="form.assignedUserFormControl"></ag-user-select>
            </div>
            <div class="col-9 form-group">
                <label for="description"><span jhiTranslate="global.form.field.description"></span></label>
                <textarea [formControl]="form.descriptionFormControl" class="form-control" id="description" rows="15"></textarea>
            </div>
        </div>

        <hr>

        <div class="text-left">
            <ag-button-back [routerLink]="['/story', 'edit', form.story]"></ag-button-back>
            <ag-button-save [disabled]="!form.isValid"></ag-button-save>
        </div>
    </form>
</ng-container>

<ng-template #NotInitialized>
    <ag-main-loading label="task.loading"></ag-main-loading>
</ng-template>
