<div class="row">
    <div class="col-11">
        <h1 jhiTranslate="project.title.edit"></h1>
    </div>
    <div class="col-1 text-right">
        <ag-button-delete (onClick)="confirmDelete()"></ag-button-delete>
    </div>
</div>

<hr>

<form (ngSubmit)="onSubmit()" *ngIf="form" [formGroup]="form.form">
    <div class="form-group">
        <label for="projectName"><span jhiTranslate="global.form.field.name"></span></label>
        <input [formControl]="form.nameFormControl" class="form-control" id="projectName" type="text">
    </div>

    <div class="form-group">
        <label for="projectDescription"><span jhiTranslate="global.form.field.description"></span></label>
        <textarea [formControl]="form.descriptionFormControl" class="form-control" id="projectDescription"></textarea>
    </div>

    <ag-user-select [control]="form.assignatedUserIdListFormControl" [multiple]="true"></ag-user-select>

    <hr>

    <div class="text-right">
        <ag-button-cancel [routerLink]="['/project/', form.idFormControl.value]"></ag-button-cancel>
        <ag-button-save [disabled]="!form.isValid"></ag-button-save>
    </div>
</form>
