<h1 jhiTranslate="project.title.new"></h1>

<hr>

<form (ngSubmit)="onSubmit()" [formGroup]="form.form">
    <div class="form-group">
        <label for="projectName"><span jhiTranslate="global.form.field.name"></span></label>
        <input [formControl]="form.nameFormControl" class="form-control" id="projectName" type="text">
    </div>

    <div class="form-group">
        <label for="projectDescription"><span jhiTranslate="global.form.field.description"></span></label>
        <textarea [formControl]="form.descriptionFormControl" class="form-control" id="projectDescription"></textarea>
    </div>

    <div class="text-left">
        <ag-button-cancel routerLink="/project/"></ag-button-cancel>
        <ag-button-save [disabled]="!form.isValid"></ag-button-save>
    </div>
</form>
