<div class="row">
    <div class="col-md-3">
        <div *ngIf="isAuthenticated()" class="alert alert-success">
                <span *ngIf="account" [translateValues]="{ username: account.login }" id="home-logged-message"
                      jhiTranslate="home.logged.message">You are logged in as user "{{ account.login }}".</span>
        </div>
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <ag-project-list *ngIf="isAuthenticated()"></ag-project-list>
    </div>
</div>
