<div class="row">
    <div class="col-11">
        <h1 jhiTranslate="story.title.edit"></h1>
    </div>
    <div class="col-1 text-right">
        <ag-button-delete (onClick)="confirmDelete()"></ag-button-delete>
    </div>
</div>

<hr>

<form (ngSubmit)="onSubmit()" *ngIf="form" [formGroup]="form.form">
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="name"><span jhiTranslate="global.form.field.name"></span></label>
                <input [formControl]="form.nameFormControl" class="form-control" id="name" type="text">
            </div>
            <div class="form-group">
                <label for="points"><span jhiTranslate="story.form.field.points"></span></label>
                <input [formControl]="form.pointsFormControl" class="form-control" id="points" min="0" step="0.5" type="number"/>
            </div>
            <div class="form-group">
                <label for="businessValue"><span jhiTranslate="story.form.field.businessValue"></span></label>
                <input [formControl]="form.businessValueFormControl" class="form-control" id="businessValue" min="0" type="number"/>
            </div>

            <ag-story-type-select [control]="form.typeIdFormControl"></ag-story-type-select>
            <ag-story-status-select [control]="form.statusIdFormControl"></ag-story-status-select>
            <ag-user-select [control]="form.assignedUserIdFormControl"></ag-user-select>
        </div>
        <div class="col-9 form-group">
            <label for="description"><span jhiTranslate="global.form.field.description"></span></label>
            <textarea [formControl]="form.descriptionFormControl" class="form-control" id="description" rows="15"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-11">
            <h2 jhiTranslate="story.form.field.tasks"></h2>
        </div>
        <div class="col-1 text-right">
            <button [routerLink]="['/story', form.id, 'task', 'new']"
                    class="btn btn-primary" type="button">
                <fa-icon icon="plus"></fa-icon>
            </button>
        </div>
    </div>

    <ng-container *ngIf="tasks && tasks.length > 0; else NoTasks">
        <table class="table table-borderless table-hover">
            <caption hidden="hidden"></caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th class="text-left" jhiTranslate="global.form.field.name" scope="col"></th>
                <th jhiTranslate="task.form.field.estimatedTime" scope="col"></th>
                <th jhiTranslate="task.form.field.loggedTime" scope="col"></th>
                <th jhiTranslate="global.form.field.assignedUser" scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let task of tasks; let i = index"
                [routerLink]="['/task', 'edit', task.id]"
                style="cursor: pointer;" title="{{task.description}}"
            >
                <td class="text-center">
                    <ag-task-status [id]="task.statusId!"></ag-task-status>
                </td>
                <td class="text-left">{{task.name}}</td>
                <td class="text-justify">{{task.estimatedTime}}</td>
                <td class="text-justify">{{task.loggedTime}}</td>
                <td>
                    <ag-user *ngIf="task.assignedUserId" [id]="task.assignedUserId!"></ag-user>
                </td>
            </tr>
            </tbody>
        </table>
    </ng-container>

    <hr>

    <div class="text-left">
        <ag-button-back [routerLink]="['/project/', form.projectId]"></ag-button-back>
        <ag-button-save [disabled]="!form.isValid"></ag-button-save>
    </div>
</form>

<ng-template #NoTasks>
    <h3 class="text-center alert alert-secondary" jhiTranslate="task.list.noResults"></h3>
</ng-template>
